node_modules/
cache/
artifacts/
.mnemonic*

#secrets
secret-chainz-api-key.txt


# Logs
logs/
*.log

typechain-types/
api/contracts/

build/
dist/

# Coverage
coverage/
coverage.json

# IDE
.vscode/

.env